# --
# Copyright (C) 2024 mo-azfar, https://github.com/mo-azfar/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="WidgetSimple">
    <div class="Header">
        <div class="WidgetAction Toggle">
            <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
        </div>
        <h2>[% Translate(Data.WidgetTitle) | html %]</h2>
    </div>
    <div class="Content">
        <fieldset class="TableLike FixedLabelSmall Narrow">
        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" id="Compose" class="Validate PreventMultipleSubmits AgentTicketActionCommon">
        <input type="hidden" name="Action" value="AgentTicketQuickNote"/>
        <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]"/>
        [% RenderBlockStart("SubmitQuickNote") %]
        <div id="RichTextField" class="RichTextField">
            <textarea id="QuickNote" class="Validate_Required" name="QuickNote" rows="7" cols="35"></textarea>
            <div id="QuickNoteError" class="TooltipErrorMessage"><p>This field is required.</p></div>
            <div id="QuickNoteServerError" class="TooltipErrorMessage"><p>This field is required.</p></div>
        </div>
        [% RenderBlockStart("QuickClose") %]
        <div class="Field">
            <label style="color:black;">[% Translate("Close This Ticket ?") | html %]
                <input id="CloseNow" name="CloseNow" type="checkbox" value="1">
            </label>
        </div>
        [% RenderBlockEnd("QuickClose") %]
        <div class="Field">
            <button class="Primary CallForAction" id="submitRichText" accesskey="g" title="[% Translate("Add Note") | html %] (g)" type="submit" value="[% Translate("Add Note") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Add Note") | html %]</span></button>
        </div>
        [% RenderBlockEnd("SubmitQuickNote") %]
        </form>
        </fieldset>
    </div>
</div>
